<%- include("partials/header.ejs") %>

<div class="navbarFixed">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand brandColor" href="/">
      <img id="logo" src="https://github.com/bgcprogramer/stampnature/blob/master/pics/logo.png?raw=true" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link linkColor" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link linkColor" href="#">Link</a>
        </li>

    </div>
  </nav>
</div>
<div class="container-fluid body1">
  <div>

  </div>
</div>

<%- include("partials/footer.ejs") %>